<h1>Welcome</h1>
<p></p>

<div style="margin: auto; color: #03a1d1;
        text-decoration: none!important; text-align: center;">
  <%= image_tag "welcome.png", size: "800x800" , style: "text-align: center" %></div>
